# Ignore node_modules directory
node_modules/

# Ignore build output directories
.next/
out/

# Ignore environment files (e.g., .env.local, .env.development, .env.production)
.env*
.env.local

# Ignore npm/yarn lock files
package-lock.json
yarn.lock

# Ignore logs and build files
logs/
build/
